
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body>
    <div> 
    
        <h1>Panier</h1>

    



    
    </div>
      
    <div class="btn btn-outline-success">
        @Html.ActionLink("Check-out", "Paiement", "Checkout",htmlAttributes:new { @style= "color:green;text-decoration:none" })
    </div>
    
</body>
</html>
