@{
    ViewBag.Title = "DetailProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailProduit</h2>
<br />
<br />

<div class="container" >

    <div class="row row-cols-2">
        <div class="col">

           <img src="~/img/iphone11promax.jpg" width="350px" height="250px" />

        </div>
        <div class="col">
            <h3>Iphone 11 Pro MAX</h3>
            <div class="row row-cols-2">
                <div class="col">
                    
                    <h3>1200€</h3>
                </div>
                <div class="col">
                    <strong style="color:green">En stock</strong>

                </div>
            </div>
               
               <h5>Description</h5>
            <p>
                Tout nouveau double appareil photo. Format XL ou XXL ? Pour chaque image, c’est vous qui voyez. La nouvelle interface utilise l’appareil ultra grand-angle pour vous montrer ce qui se passe hors cadre : vous avez toujours la globalité de la scène sous les yeux et vous pouvez changer d’appareil d’un toucher pour immortaliser l’ensemble. Il est même possible de retoucher vos vidéos comme vous le faites avec vos photos. Décidément, l’appareil photo le plus populaire au monde ne cesse de se réinventer pour vous offrir de nouvelles perspectives.
            </p>
            <div class="row">
               <div class="col">

                   

               </div>

            </div>
           
        </div>
    </div>
</div>
