
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Store</h2>
<div class="checkbox">

    <p>Telephone: @Html.CheckBox("Telephone", "non")</p>



</div>
<div class="container-fluid">

    <div ="row">
        <div class="col-lg-1">

         <img src="~/img/email.png" />

           <p class="text-info"> Iphone</p>


        </div>



    </div>




</div>
